[submodule "third_party/oss/blender"]
	path = third_party/oss/blender
	url = https://github.com/blender/blender.git
[submodule "third_party/oss/blender-addons"]
	path = third_party/oss/blender-addons
	url = https://github.com/blender/blender-addons.git
[submodule "third_party/oss/facial-animation"]
	path = third_party/oss/facial-animation
	url = https://github.com/mdj128/facial-animation.git
[submodule "third_party/oss/open-mocap-blender"]
	path = third_party/oss/open-mocap-blender
	url = https://github.com/Larenju-Rai/open-mocap-blender.git
[submodule "third_party/oss/BlenRig"]
	path = third_party/oss/BlenRig
	url = https://github.com/jpbouza/BlenRig.git
[submodule "third_party/oss/FacialAutoRigger"]
	path = third_party/oss/FacialAutoRigger
	url = https://github.com/joeedh/FacialAutoRigger.git
[submodule "third_party/oss/ARKit-Creator-Blender-Addon"]
	path = third_party/oss/ARKit-Creator-Blender-Addon
	url = https://github.com/tsikerdekis/ARKit-Creator-Blender-Addon.git
[submodule "third_party/oss/BlendCap"]
	path = third_party/oss/BlendCap
	url = https://github.com/Arcomade/BlendCap.git
[submodule "third_party/oss/mcp-blender"]
	path = third_party/oss/mcp-blender
	url = https://github.com/RFingAdam/mcp-blender.git
[submodule "third_party/oss/mesh-analysis-overlay"]
	path = third_party/oss/mesh-analysis-overlay
	url = https://github.com/dshot92/mesh-analysis-overlay.git
[submodule "third_party/oss/tissue"]
	path = third_party/oss/tissue
	url = https://github.com/alessandro-zomparelli/tissue.git
[submodule "third_party/oss/RigFlex"]
	path = third_party/oss/RigFlex
	url = https://github.com/nerk987/RigFlex.git
[submodule "third_party/oss/SimuSama"]
	path = third_party/oss/SimuSama
	url = https://github.com/jfranmatheu/SimuSama.git
[submodule "third_party/oss/molecular-plus"]
	path = third_party/oss/molecular-plus
	url = https://github.com/u3dreal/molecular-plus.git
[submodule "third_party/oss/JiggleArmature"]
	path = third_party/oss/JiggleArmature
	url = https://github.com/cheece/JiggleArmature.git
[submodule "third_party/oss/gsplat"]
	path = third_party/oss/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
[submodule "third_party/oss/OpenSplat"]
	path = third_party/oss/OpenSplat
	url = https://github.com/WebODM/OpenSplat.git
[submodule "third_party/oss/Worldsmith"]
	path = third_party/oss/Worldsmith
	url = https://github.com/TheDatawiz-dot/Worldsmith.git
[submodule "third_party/oss/bene-proggen-maps"]
	path = third_party/oss/bene-proggen-maps
	url = https://github.com/Beneking102/bene-proggen-maps.git
[submodule "third_party/oss/SkySplat-Blender"]
	path = third_party/oss/SkySplat-Blender
	url = https://github.com/kyjohnso/skysplat_blender.git
[submodule "third_party/oss/Meshroom"]
	path = third_party/oss/Meshroom
	url = https://github.com/alicevision/Meshroom.git
[submodule "third_party/oss/ArmorPaint"]
	path = third_party/oss/ArmorPaint
	url = https://github.com/armory3d/armorpaint.git
[submodule "third_party/oss/ArmorPaint-Blender"]
	path = third_party/oss/ArmorPaint-Blender
	url = https://github.com/armory3d/armorpaint_blender.git
[submodule "third_party/oss/Natron"]
	path = third_party/oss/Natron
	url = https://github.com/NatronGitHub/Natron.git
[submodule "third_party/oss/Easy-Tree"]
	path = third_party/oss/Easy-Tree
	url = https://github.com/jacobcjohnston/Easy-Tree.git
[submodule "third_party/oss/AliceVision"]
	path = third_party/oss/AliceVision
	url = https://github.com/alicevision/AliceVision.git
[submodule "third_party/oss/nerfstudio"]
	path = third_party/oss/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "third_party/oss/SuperSplat"]
	path = third_party/oss/SuperSplat
	url = https://github.com/playcanvas/supersplat.git
[submodule "third_party/oss/OpenFaceFX"]
	path = third_party/oss/OpenFaceFX
	url = https://github.com/OpenFaceFX/OpenFaceFX.git
